<div class="container">

  <div class="top">
    <h6>ORDER PLACED</h6>
    <h6>TOTAL</h6>
    <h6>SHIP TO 
      <ion-icon  id="hover-trigger" color="primary" name="chevron-down-outline"></ion-icon>

    </h6>
    <a  ><h6>ORDER # 407-4941009-9041945</h6></a>
  </div>
  <div class="second">
       <div class="inside">
        <h3>Cancelled</h3>
       </div>
  
       <div class="img">
        <ion-thumbnail slot="start" >
          <ion-img [src]="" alt="item img"></ion-img>
        </ion-thumbnail>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam repellat quas blanditiis aperiam asperiores.</p>
        </div>
      </div>
  
      <div class="left-btn">
            <div class="bt">
              <button>Leave Seller Feedback</button><hr><hr><hr><hr>
            </div>
      </div>
      
    </div>
  </div>
  
    