

<ion-content>

  <app-topbar></app-topbar>
    <div style="cursor: pointer;" class="container">
      <ion-breadcrumbs>
        <ion-breadcrumb href="#">Your Account</ion-breadcrumb>
        <ion-breadcrumb routerLink="/order"> Your Orders</ion-breadcrumb>
        <ion-breadcrumb routerLink="/order-details" >Your details</ion-breadcrumb>
        <ion-breadcrumb routerLink="/treck-package" >Track Package</ion-breadcrumb>
      </ion-breadcrumbs>
    </div>
    <div class="main">
      <div class="conatiner head">
        <h2>Arriving 12 March</h2>
        </div>
  <div class= "vertical">

        <div class="container drop">
             

          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ordered today</ion-label>
          </ion-item>
           </div>
      
        <div class="container drop">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ordered today</ion-label>
          </ion-item>
        </div>
        <div class="container drop">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ordered today</ion-label>
          </ion-item>
        </div>
        <div class="container drop">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ordered today</ion-label>
          </ion-item>
      </div>
    </div>
    </div>
  

    
       
    
    <div class="container">
      <!-- <app-footer></app-footer> -->

    </div>



</ion-content>

  