.container ion-breadcrumbs,.drop,.head{
    display: flex;
    align-items: auto;
    justify-content: auto;
    margin-left: 16%;
}
.main{
    padding: 10px;
}
.main .head{
    padding: 30px;
}



.vertical {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    // left: 50%;
}


