<footer class="footer-section ion-padding-horizontal">
  <div class="row">
    <div class="col">
      <img src="assets/img/logo-white-1.webp" class="img-fluid" alt="logo">
      <div class="footer-text">
        <p> Work hard and no play? We don't believe in that. Get access to best-selling fiction and non-fiction
          books by your favourite authors, thrilling English and Indian blockbusters. </p>
      </div>
  </div>
    <ion-col size="4" class="col">
      <div class="footer-widget">
        <div class="footer-widget-heading">
        <h3>Useful Links<div class="underline"><span></span></div></h3>
      </div>
      <ul>
        <li><a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/account">My Account</a>
        </li>
        <li>
          <a routerLink="/account/orders">Orders</a>
        </li>
        <li>
          <a routerLink="/account/cards">Saved Cards</a>
        </li>
        <li>
          <a routerLink="/account/address">Address</a>
        </li>
        <li>
          <a routerLink="/account/wishlist">Wishlist </a>
        </li>
        <li>
          <a routerLink="/account">Terms & Conditions</a>
        </li>
        <li>
          <a routerLink="/account">Privacy Policy</a>
        </li>
      </ul>
      </div>
    </ion-col>
    <ion-col  class="col">
        <div class="footer-widget">
           <div class="footer-widget-heading">
             <h3>Contact Us<div class="underline"><span></span></div></h3>
        </div>
        <div class="footer-text mb-25">
        <p>#180 Lorem ipsum dolor, Cauctor ex pulvinar,<br>
          Praesent, Chennai - xxxxxx.<br>
          Phone - <a class="text-warning" href="tel:+919500950008">+91 -
            xxxx xxxx xx</a><br>
          Email - <a class="text-warning" href="mailto:admin@xxxxxx.com">admin@xxxxxx.com</a><br>
        </p>
      </div>
      </div>
    </ion-col>
    <ion-col  class="col">
        <div class="footer-widget">
          <div class="footer-widget-heading">
            <h3>News letter<div class="underline"><span></span></div></h3>
          </div>
      <form>
        <ion-icon class="icon" name="mail"></ion-icon>
        <input type="email" placeholder="Enter your email id" required>
        <button type="submit"><ion-icon class="icon" name="arrow-forward"></ion-icon></button>
      </form>
    
    <div class="social-icon">
      <ion-icon class="facebook" ios="logo-facebook" md="logo-facebook"></ion-icon>
      <ion-icon class="google" ios="logo-google" md="logo-google"></ion-icon>
      <ion-icon class="twitter" ios="logo-twitter" md="logo-twitter"></ion-icon>
      <ion-icon class="instagram" ios="logo-instagram" md="logo-instagram"></ion-icon>
    </div>
    </div>
    </ion-col>
  </div>
    <hr>
  <p class="copyright">Copyright &copy; {{year | date:'YYYY'}}, All Right Reserved</p>
</footer>







