<ion-content>
  <div class="ion-padding">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon slot="start" name="home"></ion-icon>Home
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/account">My Account</ion-breadcrumb>
      <ion-breadcrumb>Wishlist</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-list lines="none">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item lines="inset" *ngFor="let watchitem of watchitems">
              <img class="pe-4" [src]="watchitem.posterurl" width="100" />
              <ion-label>
                <h2><b>{{watchitem.bookname}}</b></h2>
                <h6><b>{{watchitem.description}}</b></h6>
                <h6><b>Author:</b> {{watchitem.authorName}}</h6>
                <h6><b>Duration:</b> {{watchitem.duration}}</h6>
                <h6>Item added on {{watchitem.date}}</h6>
                <h5>₹{{watchitem.cost}}</h5>
              </ion-label>
              <div class="d-flex">
                <ion-button  (click)="RemoveToWishItems(watchitem)" expand="block" class="pe-2" fill="none">
                  <ion-icon name="trash" color="danger"></ion-icon>
                </ion-button>
                <ion-button (click)="addToCart(watchitem.bookId)"  expand="block" color="success" fill="solid">Add to Cart</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <!-- <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/9.jpg" width="100" />
              <ion-label>
                <h4>Vivamus massa nulla</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Item added on 15/07/2022</p>
                <h5>₹378.00</h5>
              </ion-label>
              <div class="d-flex">
                <ion-button expand="block" class="pe-2" fill="none">
                  <ion-icon name="trash" color="danger"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="success" fill="solid">Add to Cart</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/3.jpg" width="100" />
              <ion-label>
                <h4>Suspendisse potenti</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Item added on 15/07/2022</p>
                <h5>₹959.00</h5>
              </ion-label>
              <div class="d-flex">
                <ion-button expand="block" class="pe-2" fill="none">
                  <ion-icon name="trash" color="danger"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="success" fill="solid">Add to Cart</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/4.jpg" width="100" />
              <ion-label>
                <h4>Mauris porttitor risus</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Item added on 15/07/2022</p>
                <h5>₹350.00</h5>
              </ion-label>
              <div class="d-flex">
                <ion-button expand="block" class="pe-2" fill="none">
                  <ion-icon name="trash" color="danger"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="success" fill="solid">Add to Cart</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card> -->
    </ion-list>
  </div>
<app-footer></app-footer>
</ion-content>