.heading{
    text-align: center;
    font-size: 40px;
    width: 50%;
    display: block;
    line-height: 50px;
    margin:30px auto 60px;
    text-transform: capitalize;
    margin-top: 20%;
    position: relative;

}
.heading span{
    font-size: 300;
}
ion-button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin:auto ;
    font-size: 18px;
    text-transform: capitalize;
}