<ion-content>
  <div class="ion-padding">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon slot="start" name="home"></ion-icon>Home
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/account">My Account</ion-breadcrumb>
      <ion-breadcrumb>Orders</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-list lines="none">
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/11.jpg" width="100" />
              <ion-label>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Ordered On: 22/10/2022</p>
                <p>Shiped to: <a>Vinoth</a></p>
              </ion-label>
              <div class="">
                <p>Delivered on Jun'2022</p>
                <h5>₹450</h5>
                <small>Your item has been delivered</small>
                <ion-button expand="block" color="dark" fill="outline">Invoice</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/9.jpg" width="100" />
              <ion-label>
                <h4>Vivamus massa nulla</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Ordered On: 22/10/2022</p>
                <p>Shiped to: <a>Vinoth</a></p>
              </ion-label>
              <div class="">
                <p>Delivered on Jun'2022</p>
                <h5>₹250</h5>
                <small>Your item has been delivered</small>
                <ion-button expand="block" color="dark" fill="outline">Invoice</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/3.jpg" width="100" />
              <ion-label>
                <h4>Suspendisse potenti</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Ordered On: 22/10/2022</p>
                <p>Shiped to: <a>Vinoth</a></p>
              </ion-label>
              <div class="">
                <p>Delivered on Jun'2022</p>
                <h5>₹555</h5>
                <small>Your item has been delivered</small>
                <ion-button expand="block" color="dark" fill="outline">Invoice</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <img class="pe-4" src="assets/img/4.jpg" width="100" />
              <ion-label>
                <h4>Mauris porttitor risus</h4>
                <p>Author: Aenean lacinia</p>
                <p>Seller: Vivamus</p>
                <p>Ordered On: 22/10/2022</p>
                <p>Shiped to: <a>Vinoth</a></p>
              </ion-label>
              <div class="">
                <p>Delivered on Jun'2022</p>
                <h5>₹650</h5>
                <small>Your item has been delivered</small>
                <ion-button expand="block" color="dark" fill="outline">Invoice</ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <app-footer></app-footer>
</ion-content>