<ion-content>
  <div class="ion-padding address-main">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/">
        <ion-icon slot="start" name="home"></ion-icon>Home
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/account">My Account</ion-breadcrumb>
      <ion-breadcrumb>Address</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-list>
      <ion-card>
        <ion-card-content>
          <a routerLink="/address">
            <ion-icon name="add"></ion-icon> Add New Address
          </a>
        </ion-card-content>
      </ion-card>
      <ion-card class="address-card" *ngFor="let address of addressData">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <h4>{{ address.firstName }} +91- {{ address.mobile }} {{ address.lastName }}</h4>
                <p>
                  {{ address.address1 }}, {{ address.address2 }},{{ address.addressId }},{{ address.addressType }},{{ address.area }}
                  {{ address.country }}{{ address.zipCode }}
                </p>
              </ion-label>
              <div class="d-flex">
                <ion-button color="dark" color="danger" fill="clear" (click)="deleteAddress(address)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="dark" fill="clear" class="w-100" disabled>|</ion-button>

                <ion-button expand="block" color="dark" fill="clear" class="w-100" [routerLink]="['/address',(address)]">
                  Edit
                </ion-button>
                
              
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <app-footer></app-footer>
</ion-content>
