<ion-content>
  <app-topbar></app-topbar>
  <div class="container">
      <ion-breadcrumbs>
        <ion-breadcrumb routerLink="/account" >Your Account</ion-breadcrumb>
        <ion-breadcrumb routerLink="/order"> Your Orders</ion-breadcrumb>
      </ion-breadcrumbs>
    </div>  
  <div class="top">
    <h2>Your Orders</h2>
    <div class="side">  
      <ion-searchbar color="light" placeholder="Search this list"></ion-searchbar>
      <button>search Orders</button>
    </div>
  </div>
<!-- <div >
  <p>{{order.orderId}}</p>
  <p>{{order.orderDate}}</p>
</div> -->

  <div>
    <ul style="cursor: pointer;" class="list">
        <li><span class=""></span></li>
        <li><span>
        <span class="item"> Orders</span></span></li>
        <li><span class="a-list-item" routerLink="/buy-again"> Buy Again</span></li>
        <li ><span class="">Not Yet Shipped</span></li>
        <li ><span class="" routerLink="/cancelled-orders">Cancelled Orders</span></li>
    </ul>
  </div>
  
  <div class="drop">
      <h4>2 orders&nbsp;<span>placed in</span></h4>
      <ion-list>
        <ion-item>
          <ion-select interface="popover" placeholder="Past 3 Months">
            <ion-select-option value="Past 3 Months">Past 3 Months</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="Archived Orders">Archived Orders</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="card" >
      <app-product-cart></app-product-cart>
    </div>
    
    <ion-content [fullscreen]="false">

      <ion-card-content>
        <ion-row class="suggestions-section p-3" >
          <ion-col size="12">
            <ion-text class="suggestions-section-title" color="primary">
              <h2>More digital items to explore</h2>
            </ion-text>
    
            <ion-card class="ion-padding ion-margin">
              <div class="py-2" id="trending-slider">
                <swiper #bannerSwiper [config]="config">
                  <ng-template swiperSlide *ngFor="let trending of trendings; index as i">
                    <app-product-card [data]="trending"></app-product-card>
                  </ng-template>
                </swiper>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-content>

    <ion-content [fullscreen]="false">

      <ion-card-content>
        <ion-row class="suggestions-section p-3" >
          <ion-col size="12">
            <ion-text class="suggestions-section-title" color="primary">
              <h2>Recommended based on your shopping trends</h2>
            </ion-text>
    
            <ion-card class="ion-padding ion-margin">
              <div class="py-2" id="trending-slider">
                <swiper #bookSwiper [config]="config">
                  <ng-template swiperSlide *ngFor="let book of latest; index as i">
                    <app-product-card [data]="book"></app-product-card>
                    <ion-col size="2" *ngFor="let book of latest"></ion-col>
                </ng-template>
                </swiper>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-content>

<ion-card-content>
  <ion-row class="suggestions-section p-3" >
    <ion-col size="12">
      <ion-text class="suggestions-section-title" color="primary">
      <h3>Your browsing historyView or edit your browsing history</h3>
    </ion-text>
    <ion-card class="ion-padding ion-margin">
      <div class="py-2" id="trending-slider">
        <swiper #bannerSwiper [config]="config">
          <ng-template swiperSlide *ngFor="let history of history; index as i">
            <app-product-card [data]="history"></app-product-card>
          </ng-template>
        </swiper>
      </div>
    </ion-card>
  </ion-col>
</ion-row>
</ion-card-content>

<app-footer></app-footer>





</ion-content>