<ion-button id="open-modal" fill="clear" color="dark" *ngIf="tempLogin">
  {{ message }}
</ion-button>
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-content class="ion-padding auth-page">
      <ion-row class="h-100">
        <ion-col size="12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <ion-row>
              <!-- Email -->
              <ion-col class="ion-padding-vertical" size="12">
                <label class="form-label">Email</label>
                <ion-item class="form-control" lines="none">
                  <ion-icon class="me-2" name="mail-outline" slot="start"></ion-icon>
                  <ion-input autofocus="true" inputmode="email" clearInput="true" type="email" maxlength="55"
                    formControlName="email" required="true"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="isSubmitted && (f['email'].dirty || f['email'].touched ||
                f['email'].invalid)" class="help-block">
                  <small class="error-msg" *ngIf="f['email'].invalid">{{getEmailErrorMsg()}}</small>
                </ion-text>
              </ion-col>

              <!-- Password -->
              <ion-col class="ion-padding-bottom login-password" size="12">
                <label class="form-label">Password</label>
                <ion-item class="form-control" lines="none">
                  <ion-icon class="me-2" name="lock-open-outline" slot="start"></ion-icon>
                  <ion-input [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="25" required>
                  </ion-input>
                  <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="hide= !hide">
                  </ion-icon>
                </ion-item>
                <ion-text color="danger" *ngIf="isSubmitted || (f['password'].dirty || f['password'].touched)"
                  class="help-block">
                  <small class="error-msg" *ngIf="f['password'].invalid">Password is required</small>
                </ion-text>
              </ion-col>

              <!-- Forgot Password -->
              <ion-col class="ion-padding-bottom ion-text-end forgot-pwd-link" size="12">
                <a routerLink="/auth/reset">Forgot Password?</a>
              </ion-col>

              <!-- Submit Button -->
              <ion-col class="ion-padding-top" size="12">
                <ion-button color="primary mx-auto" type="submit" expand="block" [disabled]="isSubmitted">Login
                  <ion-spinner name="bubbles" *ngIf="isSubmitted"></ion-spinner>
                </ion-button>
              </ion-col>

              <!-- Signup -->
              <ion-col class="signup-link ion-no-padding ion-no-margin" size="13">
                <p class="fs-12" class="primary">
                  Not registered yet?
                  <ion-text color="success" routerLink="/login" class="pointer">
                    Create an Account
                  </ion-text>
                </p>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="12">
          <p class="social-btn-divider">or</p>
        </ion-col>

        <!-- Social Login -->
        <ion-col size="12">
          <ion-button  color="orange"class="social-media-btn google-login mx-auto ion-margin-bottom"  fill="dark" expand="block" (click)="googleSignIn()">
            <ion-img class="ion-margin-end" slot="start" src="assets/img/google.png">
            </ion-img>
            <ion-label> Sign in Google </ion-label>
          </ion-button>
          <p class="terms">
            By signing in, you agree to our <a>Terms of Service</a> and <a>Privacy Policy</a>.
          </p>
        </ion-col>
      </ion-row>

    </ion-content>
  </ng-template>
</ion-modal>
