<ion-content>
  <ion-grid class="ion-padding checkout-main">
    <ion-row>
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Delivery Address</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-radio-group value="2">
                <ion-item>
                  <ion-radio slot="start" value="1"></ion-radio>
                  <ion-label>
                    <b>H.Vestibulum</b> - +91 xxxxx xxxxx
                    <p> Shop No-29, Sumer Nagar, S V Road, Opp Flyover Bridge, Kora Kendra, Borivli (w), Chennai,
                      Tamilnadu - 400102</p>
                  </ion-label>
                  <a>Edit</a>
                </ion-item>
                <ion-item lines="none">
                  <ion-radio slot="start" value="2"></ion-radio>
                  <ion-label>
                    <b>Curabitur</b> - +91 xxxxx xxxxx
                    <p>4, Raj Laxmi Bldg, Shree Nagar, Wagle Est, Thane(w), Mumbai, Maharashtra - 400604</p>
                  </ion-label>
                  <a>Edit</a>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Payment Options</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-radio-group value="1">
                <ion-item>
                  <ion-radio slot="start" value="1"></ion-radio>
                  <ion-thumbnail slot="start">
                    <img src="assets/img/visa.png" />
                  </ion-thumbnail>
                  <ion-label>xxx xxxx xxxx 0005</ion-label>
                </ion-item>

                <ion-item>
                  <ion-radio slot="start" value="2"></ion-radio>
                  <ion-thumbnail slot="start">
                    <img src="assets/img/visa.png" />
                  </ion-thumbnail>
                  <ion-label>xxx xxxx xxxx 6695</ion-label>
                </ion-item>

                <ion-item>
                  <ion-radio slot="start" value="3"></ion-radio>
                  <ion-thumbnail slot="start">
                    <img src="assets/img/gpay.webp" />
                  </ion-thumbnail>
                  <ion-label>Google Pay UPI - xxxxxxx@okaxis</ion-label>
                </ion-item>

                <ion-item>
                  <ion-radio slot="start" value="3"></ion-radio>
                  <ion-label>
                    Credit / Debit / ATM Card
                  </ion-label>
                </ion-item>

              </ion-radio-group>
            </ion-list>
            <div class="px-5">
              <ion-row>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Enter Card Number</ion-label>
                    <ion-input placeholder="xxxx xxxx xxxx xxxx"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="6"></ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Valid Till</ion-label>
                    <ion-input placeholder="MM/YY"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="2">
                  <ion-item>
                    <ion-label position="stacked">CSV</ion-label>
                    <ion-input placeholder="xxx"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Price Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-label>Subtotal (2 items):</ion-label>
                <p>₹650.00</p>
              </ion-item>

              <ion-item>
                <ion-label>Delivery Charges</ion-label>
                <p>FREE</p>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Total Amount</ion-label>
                <b>₹650.00</b>
              </ion-item>

              <ion-item lines="none">
                <ion-label>
                  <ion-button expand="full" color="dark" routerLink="/checkout">Checkout</ion-button>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Trending Slider Here -->
  <app-trending-slider></app-trending-slider>

  <!-- Footer -->
  <app-footer></app-footer>

</ion-content>