<ion-content>
  
  <ion-breadcrumbs>
    <ion-breadcrumb routerLink="/">
      <ion-icon slot="start" name="home"></ion-icon>Home
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/all-books">All Books</ion-breadcrumb>
    <ion-breadcrumb routerLink="/">Fiction</ion-breadcrumb>
    
  </ion-breadcrumbs>
  <ion-grid class="ion-padding checkout-main">
    <ion-row>
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Delivery Address</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-radio-group value="2" [value]="selectedCard" (ionChange)="onCardSelection($event)" *ngIf="contentPrice !== 0">
                <ion-item lines="none" *ngFor="let address of addressData">
                  <ion-radio slot="start" value="1" [value]="address" [disabled]="isLoading"></ion-radio>
                  <ion-label>
                    
                    <b>{{address.firstName}}</b> - {{address.mobile}} {{address.lastName}}
                    <p> {{address.address1}}</p><span><p>{{address.address2}}</p></span>
                    <b>{{address.addressId}}</b> -{{address.addressType}} {{address.area}} {{address.country}}{{address.zipCode}}
                  </ion-label>  
                  <!-- <a>Edit</a>   -->
                </ion-item>
                <ion-item>
                  <ion-radio slot="start" value="3"></ion-radio>
                  <ion-label>
                    <ion-button routerLink="/view-address" class="m-auto" fill="clear" color="dark" size="small">
                    View All Address
                  </ion-button>
                  </ion-label>
                </ion-item>

              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Payment Options</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              
        <ion-radio-group [value]="selectedCard" (ionChange)="onCardSelection($event)" *ngIf="contentPrice !== 0">
          <ion-item lines="none" *ngFor="let card of cardData">
              <ion-radio color="dark" slot="start" [value]="card" [disabled]="isLoading"></ion-radio>
              <ion-thumbnail slot="start">
                <img src="assets/img/visa.png" />
              </ion-thumbnail>
              <ion-label color="dark">**** **** 0005
                  {{card.cardNo}}
              </ion-label>
              <ion-icon name="card-outline" slot="end"></ion-icon>
          </ion-item>
          
                <ion-item>
                  <ion-radio slot="start" value="2"></ion-radio>
                  <ion-label>
                    <ion-button routerLink="/cards" class="m-auto" fill="clear" color="dark" size="small">
                    <ion-icon name="add-circle"></ion-icon> Add New Card
                  </ion-button>
                  </ion-label>
                </ion-item>


                <ion-item>
                  <ion-radio slot="start" value="5"></ion-radio>
                  <ion-label>
                    Credit / Debit / ATM Card
                  </ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <div class="px-5">
              <ion-row>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Enter Card Number</ion-label>
                    <ion-input placeholder="xxxx xxxx xxxx xxxx"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="6"></ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Valid Till</ion-label>
                    <ion-input placeholder="MM/YY"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="2">
                  <ion-item>
                    <ion-label position="stacked">CVV</ion-label>
                    <ion-input placeholder="xxx"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Price Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <!-- <ion-label>Subtotal ({{cardData.length}} items):</ion-label>
                <p>₹{{subtotal.toFixed(2)}}</p>
              </ion-item> -->
                <ion-label>Subtotal (2 items):</ion-label>
                <p>₹650</p>
              </ion-item>

              <ion-item>
                <ion-label>Delivery Charges</ion-label>
                <p>FREE</p>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Total Amount</ion-label>
                <b>₹650.00</b>
              </ion-item>

              <ion-item lines="none">
                <ion-label>
                  <ion-button expand="full" color="dark" (click)="onGetRental()" >Checkout</ion-button>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Trending Slider Here -->
  <!-- <app-trending-slider></app-trending-slider> -->

  <!-- Footer -->
  <app-footer></app-footer>

</ion-content>



