<div class="container">

<div class="top">
  <h6>ORDER PLACED</h6>
  <h6>TOTAL</h6>
  <h6>SHIP TO</h6>
  <h6>View order details </h6>
  <h6>Invoice</h6>
</div>
<div class="second">
     <div class="inside">
      <h3>Delivered 13-Feb-2023</h3>
     </div>

     <div class="img">
      <ion-thumbnail slot="start" >
        <ion-img [src]="" alt="item img"></ion-img>
      </ion-thumbnail>
      <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam repellat quas blanditiis aperiam asperiores.</p>
          <button class="btns">Buy it again</button>
          <button class="btn2">View your item</button>
      </div>
    </div>

    <div class="left-btn">
          <div class="bt">
            <button>TrackPackage</button><hr><hr><hr><hr>
            <button>Cancel Items</button>
          </div>
    </div>
    
  </div>
</div>

  