<div class="container">

<div class="top">
  <h6>ORDER PLACED</h6>
  <h6>TOTAL</h6>
  <h6>SHIP TO
    <ion-icon  id="hover-trigger" color="primary" name="chevron-down-outline"></ion-icon>

  </h6>
  <a  routerLink="/order-details"><h6>View order details </h6></a>
  <h6>Invoice</h6>
</div>
<div class="second">
     <div class="inside">
      <h3>Delivered 13-Feb-2023</h3>
     </div>

     <div class="img">
      <ion-thumbnail slot="start" >
        <ion-img [src]="" alt="item img"></ion-img>
      </ion-thumbnail>
      <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam repellat quas blanditiis aperiam asperiores.</p>
          <button class="btns" routerLink="/buy-again" >Buy it again</button>
          <button class="btn2">View your item</button>
      </div>
    </div>

    <div class="left-btn">
          <div class="bt">
            <button routerLink="/track-package">TrackPackage</button><hr><hr><hr><hr>
            <button routerLink="/cancelled-orders">Cancel Items</button>
          </div>
          
    </div>
    
  </div>
</div>

  