.delivery-location {

    .dl-icon {
      font-size: 1.5rem;
    }
  
    .dl-txt {
      width: max-content;
    }
  }
 img{
  cursor: pointer;
 } 
 .toggle{
  position:relative;
  bottom: -20px;
 }
.box{
  max-width: 500px;
  width: 100%;
  position: relative;
  left: 35%;

}
.box .search-box{
  position: relative;
  height: 50px;
  max-width: 50px;
  background: #ccc;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
.search-box input{
 position:absolute;
 height: 100%;
 width: 100%;
 border-radius: 25px;
 background: #fff;
 color: #000;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 18px;

}
#check:checked ~ .search-box{
  max-width: 380px;
} 
.search-box .icon {
 position: absolute;
 right: -2px;
 top: 0;
 width: 50px;
 background: #fff;
 height: 100%;
 text-align: center;
 line-height: 50px;
 color: #000;
 font-size: 20px;
 border-radius: 25px;
 cursor: pointer;

}
#check:checked ~ .search-box .icon{
  background: #000;
  color: #fff;
  width: 60px;
  border-radius: 0 25px 25px 0;
  text-align: center;

}
#check{
  display: none;
}

@media (max-width:700px){
  .box{
    flex-basis: auto;
    position:absolute;
    left: -0.5%;
    top: 100%;
  }
  ion-toolbar{
    position:relative;
    width: 100%;
  }
  .delivery-location {
    flex-basis: auto;
  }
  img{
    position:relative;
    top: -80%;

  }
  .list{
    position:relative;
    // padding-inline: 30%;
    // background: red;
    width: 100%;
    height: 100%;
    display      : inline-block;

}
}






















  @media (max-width:700px){
    ion-toolbar{
      position:relative;
      
    }
  }